@import url(./variable.less);
@import url(./mixins.less);

.home {
  background-color: #f5f5f5;
  .download {
    display: flex;
    height: 16vw /* 120px -> 16vw */;
    .left-area {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0 3.2vw /* 24px -> 3.2vw */;
      background-color: #fff;
      border-bottom: 1px solid #e3e3e3;
      overflow: hidden;
      img {
        width: 10.6667vw /* 80px -> 10.6667vw */;
        height: 10.6667vw /* 80px -> 10.6667vw */;
        border-radius: 2.1333vw /* 16px -> 2.1333vw */;
        box-shadow: 0 0 .9333vw /* 7px -> .9333vw */ 0 rgba(0, 0, 0, 0.15);
      }
      .info {
        flex: 1;
        padding-left: 2.1333vw /* 16px -> 2.1333vw */;
        overflow: hidden;
        .title {
          font-size: @normalFontSize;
          color: #333;
          .text-ellipsis();
        }
        .desc {
          margin-top: .6667vw /* 5px -> .6667vw */;
          font-size: @smallFontSize;
          color: #999;
          .text-ellipsis();
        }
      }
    }
    .right-area {
      width: 25.2vw /* 189px -> 25.2vw */;
      height: 16vw /* 120px -> 16vw */;
      line-height: 16vw /* 120px -> 16vw */;
      text-align: center;
      font-size: @bigFontSize;
      color: #fff;
      background-image: linear-gradient(90deg, #ff0409, #ff3162);
    }
  }
  .search-bar {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    height: 10.6667vw /* 80px -> 10.6667vw */;
    padding: 0 3.2vw /* 24px -> 3.2vw */;
    background-color: #fff;
    .left-area {
      display: flex;
      flex: 1;
      align-items: center;
      height: 7.4667vw /* 56px -> 7.4667vw */;
      margin-right: 3.2vw /* 24px -> 3.2vw */;
      border: .2667vw /* 2px -> .2667vw */ solid red;
      border-radius: 4vw /* 30px -> 4vw */;
      box-sizing: border-box;
      .text-ellipsis();
      .icon {
        width: 3.2vw /* 24px -> 3.2vw */;
        margin: 0 2.1333vw /* 16px -> 2.1333vw */ 0 2.6667vw /* 20px -> 2.6667vw */;
      }
      .placeholder {
        flex: 1;
        height: 3.7333vw /* 28px -> 3.7333vw */;
        line-height: 3.7333vw /* 28px -> 3.7333vw */;
        font-size: 3.4667vw /* 26px -> 3.4667vw */;
        color: #999;
        .text-ellipsis();
      }
    }
    .right-area {
      width: 16vw /* 120px -> 16vw */;
      height: 7.4667vw /* 56px -> 7.4667vw */;
      line-height: 6.9333vw /* 52px -> 6.9333vw */;
      text-align: center;
      font-size: 2.6667vw /* 20px -> 2.6667vw */;
      color: @primaryColor;
      border: .2667vw /* 2px -> .2667vw */ solid;
      border-radius: .8vw /* 6px -> .8vw */;
      box-sizing: border-box;
      .text-ellipsis();
    }
  }
  .icon-category {
    display: flex;
    .item {
      flex: 1;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  .super-subsidy {
    margin: 0 3.2vw /* 24px -> 3.2vw */;
    background-color: #fff;
    border-radius: 3.2vw /* 24px -> 3.2vw */;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10.6667vw /* 80px -> 10.6667vw */;
      padding: 0 3.2vw /* 24px -> 3.2vw */;
      .left-area {
        display: flex;
        align-items: center;
        .super-subsidy-logo {
          width: 16.6667vw /* 125px -> 16.6667vw */;
          height: 4.1333vw /* 31px -> 4.1333vw */;
          margin-right: 1.6vw /* 12px -> 1.6vw */;
        }
        .countdown {
          display: flex;
          align-items: center;
          .time, .split {
            height: 4.1333vw /* 31px -> 4.1333vw */;
            line-height: 4.1333vw /* 31px -> 4.1333vw */;
            text-align: center;
            font-size: @smallFontSize;
          }
          .time {
            width: 4.1333vw /* 31px -> 4.1333vw */;
            padding: 0 .5333vw /* 4px -> .5333vw */;
            color: #fff;
            background-color: @primaryColor;
            border-radius: .8vw /* 6px -> .8vw */;
          }
          .split {
            width: 2.4vw /* 18px -> 2.4vw */;
            color: @primaryColor;
          }
        }
      }
      .right-area {
        .text-ellipsis();
        .link-to {
          position: relative;
          height: 4.5333vw /* 34px -> 4.5333vw */;
          line-height: 4.5333vw /* 34px -> 4.5333vw */;
          padding-right: 2vw /* 15px -> 2vw */;
          font-size: @smallFontSize;
          color: @primaryColor;
          &::after {
            content: "";
            position: absolute;
            top: .4vw /* 3px -> .4vw */;
            bottom: 0;
            right: .4vw /* 3px -> .4vw */;
            margin: auto 0;
            width: 1.3333vw /* 10px -> 1.3333vw */;
            height: 1.3333vw /* 10px -> 1.3333vw */;
            border: .2667vw /* 2px -> .2667vw */ solid @primaryColor;
            border-left-color: transparent;
            border-bottom-color: transparent;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}